*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: url(./assets/library3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}


#bookContent {
  display: none;
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#bookContent img{
  width: 100%;
  border-radius: 1rem;
}

#bookContent a{
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: rgba(20, 20, 20, 0.767);
  font-size: 2rem;
  z-index: 999;
}