*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* #model-container {
  width: 100vw !important;
  height: 3rem !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#model-container a img{
  width: 30%;
  object-fit: contain;
  mix-blend-mode:darken;
  margin-inline: 0;
} */
